<div class="task-table mat-elevation-z6">
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)"
             placeholder="Type to search tasks"/>
    </mat-form-field>
    <button mat-raised-button (click)="openModalAddTask()">
      Create task
    </button>
    <button class="delete" *ngIf="!this.selection.isEmpty()" mat-raised-button color="warn" (click)="openModalDeleteTask()">
      Delete selected tasks
    </button>
  </div>

  <table mat-table [dataSource]="dataSource"
         matSort (matSortChange)="sortTasks($event)">
    
    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr class="row" mat-row *matRowDef="let task; columns: tableColumns;" (click)="openModalEditTask(task)">
    </tr>

    <ng-container matColumnDef="id">
      <th style="width:10%;" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td style="width:10%;" mat-cell *matCellDef="let task"> {{task.id}} </td>
    </ng-container>

    <ng-container matColumnDef="ime">
      <th style="width:10%;" mat-header-cell *matHeaderCellDef> Ime zadatka </th>
      <td style="width:10%;" mat-cell *matCellDef="let task"> {{task.ime}} </td>
    </ng-container>

    <ng-container matColumnDef="opis">
      <th style="width:30%;" mat-header-cell *matHeaderCellDef> Opis zadatka </th>
      <td style="width:30%;" mat-cell *matCellDef="let task"> {{task.opis}} </td>
    </ng-container>

    <ng-container matColumnDef="kreiran">
      <th style="width:10%;" mat-header-cell *matHeaderCellDef mat-sort-header> Zapis kreiran </th>
      <td style="width:10%;" mat-cell *matCellDef="let task"> {{task.kreiran | date:'dd.MM.yyyy., HH:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="izaberi">
      <th style="width:5%;" mat-header-cell *matHeaderCellDef> Izaberi </th>
      <td style="width:5%;" mat-cell *matCellDef="let task">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(task) : null"
                      [checked]="selection.isSelected(task)">
        </mat-checkbox>
      </td>
    </ng-container>

  </table>

  <mat-paginator *ngIf="dataSource.data.length > 5"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>